<nav class="navbar navbar-expand-lg navbar-dark bg">
  <a class="navbar-brand" href="/home">ImageBazar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/home">All Images</a>

<!--          <a class="dropdown-item" href="#">Cricket Image</a>-->

<!--          <a class="dropdown-item" href="#">Bhakti Wallpapers</a>-->
<!--          <a class="dropdown-item" href="#">Games Images</a>-->
          {% for cat in categories %}
          <a href="/category/{{cat.id}}" class="dropdown-item">{{cat.title}}</a>
          {% endfor %}

        </div>
      </li>

    </ul>
    <form method="GET" class="form-inline my-2 my-lg-0" action="" >


    </form>
  </div>
</nav>